<div class="home_page">
<div class="one text-center">
<br><br><br><br><br><br><br><br><br><br><br><br>
<div class="first">
<div class="title">
<span>Stewie and Minions</span>	
</div>
<div class="para">
	<span>Who will win?</span>
</div>	
</div>
<div class="first">
<div class="title">
<span>History</span>	
</div>
<div class="para">
	<span>Nothing, both wanted to kill eachother.</span><br>
	<span>lol</span>
</div>	
</div>
</div>
<div class="two text-center">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="first">
<div class="para2">
	<span>I will Kill you.</span>
</div>	
</div>
</div>
<div class="three text-center">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="first">
<br><br><br>
<div class="title">
	<span>Come on, baby. Lets start it..</span>
</div>	
</div>
</div>

<div class="four text-center">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="first">
<div class="title">
	<span>Hope you liked the trailer..</span>
</div>
<div class="para">
	<span>Stay tuned for the full movie..</span>
</div>	
</div>
</div>
	
</div>

